.intro{
    background-color: white;
    display: flex;

    .left{
        flex: 0.3;
        overflow: hidden;

        .imgContainer{
            width: 500px;
            height: 500px;
            background-color: rgb(132, 25, 136);
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img{
                width: 90%;
            }
        }
        
    }
    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 80px;
                margin: 10px 0;
            }
            h2{
                font-size: 40px;
            }
            h3{
                font-size: 35px;

                span{
                    font-size: inherit;
                    color: crimson;
                }

            }
        }

        a{
            position: absolute;
            bottom: 40px;
            left: 30%;

            img{
                width: 100px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes  arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
        
    }
}